<div class="place">
    <div class="stack">
        <div class="stack__card">
            <div class="stack__image-container">
                <img src="{{ image_url }}" alt="" class="stack__image">
            </div>
        </div>
    </div>

    <div class="place__text place__text--right-position">
        <div class="place__text-title-container">
            <span class="place__text-title">
                {{ title }}
            </span>
        </div>
        <div class="place__description-container">
            <p class = "place__description">
                {{ description }}
            </p>
        </div>
        <div class="place__information">
            <ul class="place__details">
                <li class="place__details-elements">
                    <i class="material-icons">access_time</i>
                    <span class="place__detail-description">4h</span>
                </li>
                <li class="place__details-elements">
                    <i class="material-icons">restaurant</i>
                    <span class="place__detail-description">Restaurant</span>
                </li>
                <li class="place__details-elements">
                    <i class="material-icons">attach_money</i>
                    <span class="place__detail-description"></span>
                </li>
                <li class="place__details-elements">
                    <i class="material-icons">cloud</i>
                    <span class="place__detail-description"></span>
                </li>
            </ul>
        </div>
    </div>
</div>