@import 'typed';

$principal_color: #797EF2;

.welcome-section
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    flex-direction: column;
}

.slogan__text
{
    display:block;
    margin: auto;
    color: #F2F2F2;
    font-size: 5rem;
    @include typed("Let your preferences guide your adventure", null, (caret-width: 10px, caret-space: 2px, iterations: 0));
}


.prompt-form
{
    margin-top: 2rem;

    &__button
    {
        border: none;
        cursor: pointer;
        background: white;
        border-radius: 50px;
        aspect-ratio: 1;
        height: 80%;
        position: absolute;
        top: 10%;
        right: 5px;
        
        &:hover
        {
            opacity: 0.8;
        }
    }

    &__input
    {
        color: white;
        font-size: 1.4rem;
        font-weight: 500;
        background: rgba(255, 255, 255, 0.1);
        border: 2px solid white;
        border-radius: 50px;
        padding: 2rem 2rem;
        width: 100%;

        &:focus {
            outline: 2px solid white;
        }
    }
} 

.wrapper {
    width: 700px;
    max-width: 100%;
    position: relative;
}

.hypnotic {
   width: 56px;
   height: 56px;
   border: 2.2px solid #474bff;
   display: grid;
   animation: hypnotic-q3fddx 4s infinite linear;
}

.hypnotic::before,
.hypnotic::after {
   content: "";
   grid-area: 1/1;
   margin: auto;
   width: 70.7%;
   height: 70.7%;
   border: 2.2px solid #474bff;
   animation: inherit;
}

.hypnotic::after {
   width: 50%;
   height: 50%;
   border: 2.2px solid #474bff;
   animation-duration: 2s;
}

@keyframes hypnotic-q3fddx {
   100% {
      transform: rotate(1turn);
   }
}

.loading-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(20, 20, 20, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
    visibility: hidden; 
}

.alert
{

    &--danger
    {
        
    }
}