$background-color: #0D0D0D;

*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
}

html
{
    font-size: 62.5%;
}

body
{
    background-color: $background-color;
}


.header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0D0D0D;
    padding: 1rem 1rem;

    &__nav-bar
    {
        display: flex;
        align-items: center;
        align-self: center;
    }

    &__nav-bar-link
    {
        font-size: 1.55rem;
        text-decoration: none;
        color: white;
        padding: 1rem;

        &--special
        {
            border-radius: 0.5rem;
            background-color: #AEA1EA;
            color: #252525;
        }
    }

    &__logo
    {
        width: 13rem;
    }
}