{% extends "base.html" %}
{% load static %}
{% block title %}Name of the place{% endblock title %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'styles/path/style.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% endblock extrahead %}
{% block content %}
{% for place in places %}
    {% if forloop.counter|divisibleby:2 %}
        {% include "path/components/place_left.html" with image_url=place.image_url title=place.name description=place.description %}
    {% else %}
        {% include "path/components/place_right.html" with image_url=place.image_url title=place.name description=place.description %}
    {% endif %}
{% endfor %}
    {% include "path/components/rating.html" %}
    <form action="{% url 'path:download_pdf' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="button button-center">Download</button>
    </form>
    <form action="{% url 'path:mypaths' %}" method="post" id="mi-formulario">
        {% csrf_token %}
        <input type="hidden" name="contenido" value="{{ place }}">
        <button type="submit" class="btn btn-primary">
            <button type="submit" class="button button-center" id="btn-agregar-favoritos" onclick="agregarFavoritos()">
                Add to favorites
            </button>
    </form>

<script>

    function agregarFavoritos() {
        const btnAgregarFavoritos = document.getElementById('btn-agregar-favoritos');
        btnAgregarFavoritos.disabled = true;
        btnAgregarFavoritos.innerHTML = '<i class="fas fa-heart"></i> Added to favorites';
    }

</script>

{% endblock content %}
{% block extrajs %}{% endblock extrajs %}