{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="{% static 'estilos.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> My path</title>
</head>
<body>
    <header>
        <h1>My path</h1>
        <h2>Planificador de rutas con inteligencia artificial</h2>
    </header>
    
    <main>
        <form action="/api/chat-gpt/" method="post" id="mi-formulario">
            {% csrf_token %}
            <div class="mb-3">
                <textarea id="texto-a-enviar" name="contenido" placeholder="Pon las características que necesitas para tu ruta aquí" rows="4" cols="100"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Consultar Ruta</button>
        </form>
        <div id="respuesta-del-api" class="respuesta"></div>
        <p id="ubicacion-usuario"></p>
    </main>

    <div class="container">
            {% for destino in destinos %}
            <div v-for="destino in destinos" class="col">
                <div class="card">
                    <img class="card-img-top" src="{{ destino.image.url }}" />
                    <div class="card-body">
                        <h5 class="card-title fw-bold">{{ destino.name }}</h5>
                        <p class="card-text">{{ destino.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <br />
        <br />
    </div>

    <script src="{% static 'mi-archivo.js' %}"></script>
</body>
</html>
